.commands-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.commands-header h1 {
    margin: 0;
    font-size: 1.75rem;
}

.command-search {
    width: 380px;
}

@media (max-width: 899px) {
    .command-search {
        width: 100%;
    }
}


@media (min-width: 900px) {
    .commands-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .command-search {
        padding-top: 0.5em;
    }
}
